.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

form{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

label{
    align-items: center;
}

input{
    margin-left: 40px;
}

input:checked+input{
    background-color: yellow;
}

input:disabled+input{
    background-color: red;
}